body {
    background-image: url('./img/outer-bg.321110dec68f8427.svg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

/* Dark mode styling for the body */
body.dark {
    background-color: #1f2937; 
    color: #f9fafb;
    background-image: url('./img/dark-bg.svg'); /* صورة الخلفية للوضع الداكن */
}

/* Dark mode styles for form background */
body.dark .bg-white {
    background-color: #2d3748;
}

/* Dark mode text color for headings */
body.dark .text-gray-800 {
    color: #e2e8f0;
}

/* Dark mode styling for input fields */
body.dark .input-field {
    background-color: #4a5568; 
    color: #e2e8f0; 
    border-color: #718096; 
}

/* Dark mode green button style */
body.dark .bg-green-500 {
    background-color: #38a169; 
}

/* Button for toggling dark/light mode in the top right corner */
#darkModeToggle {
    position:relative; 
    top: 20px;
    right: 20px; 
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    background-color: #38a169; 
    color: white; 
    border: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    z-index: 9999; 
}

/* Dark mode for the toggle button on hover */
#darkModeToggle:hover {
    background-color: #2f855a; 
}

/* Ensure label text is white in dark mode */
body.dark label {
    color: #ffffff; 
}
body.dark legend {
    color: #ffffff; 
}


